## Reduce the Data in the Dateframe

In [11]:
import pandas as pd

In [2]:
checkout = pd.read_csv('checkouts-by-title.csv')

In [3]:
checkout.head()

,UsageClass,CheckoutType,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear
0,Physical,Horizon,VIDEODISC,2017,4,3,The recruit [videorecording] / Touchstone Pict...,NaN,"Intelligence officers Drama, Employees Recruit...",Touchstone Home Entertainment ; Distributed by...,c2003.
1,Digital,Freegal,SONG,2017,4,1,Jelly Roll,Charles Mingus,NaN,NaN,NaN
2,Digital,Freegal,SONG,2017,4,1,Ci-Key-Boom,Emme De Duke,NaN,NaN,NaN
3,Physical,Horizon,VIDEODISC,2017,4,7,Sesame Street. Elmo can do it / directed by Ji...,NaN,Elmo Fictitious character Henson Juvenile film...,"Sesame Workshop,",[2015]
4,Digital,OverDrive,EBOOK,2017,4,1,Olive's Ocean,Kevin Henkes,"Juvenile Fiction, Juvenile Literature",HarperCollins Publishers Inc.,2013

In [4]:
checkout.CheckoutMonth.unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3])

In [5]:
checkout2 = checkout.drop(['CheckoutType', 'Title', 'Creator', 'Publisher', 'PublicationYear'], axis=1)

In [6]:
checkout2.CheckoutMonth.unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3])

In [7]:
checkout2.to_csv('CheckoutReduced.csv')

In [8]:
checkout2 = pd.read_csv('CheckoutReduced.csv')

In [9]:
checkout2.head()

,Unnamed: 0,UsageClass,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Subjects
0,0,Physical,VIDEODISC,2017,4,3,"Intelligence officers Drama, Employees Recruit..."
1,1,Digital,SONG,2017,4,1,NaN
2,2,Digital,SONG,2017,4,1,NaN
3,3,Physical,VIDEODISC,2017,4,7,Elmo Fictitious character Henson Juvenile film...
4,4,Digital,EBOOK,2017,4,1,"Juvenile Fiction, Juvenile Literature"

In [10]:
checkout2.CheckoutMonth.unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3])

In [21]:
checkout2.head()

,UsageClass,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Subjects,DATE
0,Physical,VIDEODISC,2017,4,3,"Intelligence officers Drama, Employees Recruit...",0 4\n1 4\n2 4...
1,Digital,SONG,2017,4,1,NaN,0 4\n1 4\n2 4...
2,Digital,SONG,2017,4,1,NaN,0 4\n1 4\n2 4...
3,Physical,VIDEODISC,2017,4,7,Elmo Fictitious character Henson Juvenile film...,0 4\n1 4\n2 4...
4,Digital,EBOOK,2017,4,1,"Juvenile Fiction, Juvenile Literature",0 4\n1 4\n2 4...

## Add the Date Into the Dataframe

In [11]:
checkout2.CheckoutMonth = checkout2.CheckoutMonth.astype(str)
checkout2.CheckoutYear = checkout2.CheckoutYear.astype(str).str[2:4]

In [13]:
checkout2['DATE'] = checkout2.CheckoutMonth + '/1/' + checkout2.CheckoutYear

In [14]:
checkout2['CheckoutMonth'].unique()

array(['4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3'],
      dtype=object)

In [15]:
checkout2['DATE'].unique()

array(['4/1/17', '5/1/17', '6/1/17', '5/1/18', '6/1/18', '7/1/18',
       '7/1/17', '8/1/17', '8/1/18', '9/1/18', '10/1/18', '9/1/17',
       '10/1/17', '11/1/18', '11/1/17', '12/1/17', '1/1/18', '2/1/18',
       '3/1/18', '4/1/18', '12/1/18', '2/1/19', '3/1/19', '5/1/19',
       '4/1/19', '11/1/16', '10/1/16', '12/1/16', '1/1/17', '6/1/05',
       '7/1/05', '9/1/05', '10/1/05', '4/1/05', '12/1/05', '3/1/06',
       '6/1/06', '7/1/06', '9/1/06', '8/1/05', '12/1/06', '1/1/07',
       '3/1/07', '4/1/07', '11/1/05', '7/1/07', '10/1/07', '1/1/08',
       '2/1/08', '5/1/08', '10/1/06', '2/1/07', '5/1/07', '6/1/07',
       '8/1/08', '12/1/08', '1/1/09', '9/1/07', '4/1/09', '7/1/09',
       '8/1/09', '11/1/09', '6/1/08', '3/1/10', '9/1/08', '10/1/08',
       '5/1/09', '9/1/09', '10/1/09', '2/1/10', '6/1/10', '7/1/10',
       '10/1/10', '12/1/10', '4/1/11', '8/1/11', '3/1/11', '1/1/12',
       '7/1/11', '11/1/11', '12/1/11', '5/1/12', '4/1/12', '8/1/12',
       '1/1/19', '10/1/12', '2/1/13', '7/1/13', '1/1/13', '5/1/13',
       '11/1/13', '10/1/13', '3/1/14', '7/1/14', '12/1/14', '4/1/15',
       '4/1/14', '9/1/14', '9/1/15', '1/1/15', '6/1/15', '1/1/16',
       '11/1/15', '6/1/16', '3/1/17', '2/1/17', '4/1/16', '8/1/16',
       '5/1/06', '2/1/06', '11/1/06', '4/1/08', '12/1/09', '11/1/10',
       '6/1/11', '8/1/10', '9/1/12', '6/1/12', '4/1/13', '8/1/13',
       '9/1/13', '6/1/14', '11/1/14', '8/1/15', '3/1/16', '5/1/15',
       '12/1/15', '7/1/16', '8/1/06', '3/1/08', '5/1/11', '2/1/12',
       '11/1/12', '12/1/12', '6/1/09', '4/1/10', '5/1/14', '10/1/15',
       '5/1/10', '3/1/12', '12/1/13', '7/1/12', '6/1/13', '10/1/14',
       '3/1/15', '1/1/06', '5/1/05', '9/1/11', '11/1/07', '4/1/06',
       '8/1/07', '3/1/09', '10/1/11', '2/1/09', '5/1/16', '11/1/08',
       '1/1/14', '7/1/08', '1/1/11', '9/1/10', '8/1/14', '2/1/16',
       '3/1/13', '9/1/16', '12/1/07', '2/1/14', '2/1/15', '7/1/15',
       '1/1/10', '2/1/11'], dtype=object)

In [27]:
checkout2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33802468 entries, 0 to 33802467
Data columns (total 7 columns):
Unnamed: 0       int64
UsageClass       object
MaterialType     object
CheckoutYear     int64
CheckoutMonth    object
Checkouts        int64
Subjects         object
dtypes: int64(3), object(4)
memory usage: 1.8+ GB

In [38]:
checkout2.head()

,Unnamed: 0,UsageClass,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Subjects,DATE
0,0,Physical,VIDEODISC,17,4,3,"Intelligence officers Drama, Employees Recruit...",4/1/17
1,1,Digital,SONG,17,4,1,NaN,4/1/17
2,2,Digital,SONG,17,4,1,NaN,4/1/17
3,3,Physical,VIDEODISC,17,4,7,Elmo Fictitious character Henson Juvenile film...,4/1/17
4,4,Digital,EBOOK,17,4,1,"Juvenile Fiction, Juvenile Literature",4/1/17

In [16]:
checkout2.to_csv('CheckoutWithDate.csv')

In [18]:
checkoutWithDate = pd.read_csv('CheckoutWithDate.csv')

In [30]:
checkoutWithDate.CheckoutMonth.unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3])

In [31]:
checkoutWithDate.CheckoutYear.unique()

array([17, 18, 19, 16,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [26]:
checkoutWithDate = checkoutWithDate.loc[(checkoutWithDate['CheckoutYear'] > 15) & (checkoutWithDate['CheckoutYear'] < 18)]

In [27]:
checkoutWithDate.to_csv('CheckoutWithDate.csv')

In [28]:
checkoutWithDate = pd.read_csv('CheckoutWithDate.csv')

/usr/local/Cellar/ipython/6.5.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
checkoutWithDate.CheckoutMonth.unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  3,  2])

In [30]:
checkoutWithDate.CheckoutYear.unique()

array([17, 16])

## Now Working with the Weather File - Getting Only Past 2011

In [32]:
weather = pd.read_csv('seattleWeather_1948-2017.csv')

In [33]:
weather.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [34]:
weather.loc[weather['DATE'] >= '2011-06-01'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2389 entries, 23162 to 25550
Data columns (total 5 columns):
DATE    2389 non-null object
PRCP    2389 non-null float64
TMAX    2389 non-null int64
TMIN    2389 non-null int64
RAIN    2389 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 112.0+ KB

In [35]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 5 columns):
DATE    25551 non-null object
PRCP    25548 non-null float64
TMAX    25551 non-null int64
TMIN    25551 non-null int64
RAIN    25548 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 998.2+ KB

In [38]:
weather2016 = weather.loc[weather['DATE'] >= '2016-01-01']

In [39]:
weather2016.DATE.unique()

array(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
       '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
       '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
       '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16',
       '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20',
       '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24',
       '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
       '2016-01-29', '2016-01-30', '2016-01-31', '2016-02-01',
       '2016-02-02', '2016-02-03', '2016-02-04', '2016-02-05',
       '2016-02-06', '2016-02-07', '2016-02-08', '2016-02-09',
       '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13',
       '2016-02-14', '2016-02-15', '2016-02-16', '2016-02-17',
       '2016-02-18', '2016-02-19', '2016-02-20', '2016-02-21',
       '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25',
       '2016-02-26', '2016-02-27', '2016-02-28', '2016-02-29',
       '2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
       '2016-03-05', '2016-03-06', '2016-03-07', '2016-03-08',
       '2016-03-09', '2016-03-10', '2016-03-11', '2016-03-12',
       '2016-03-13', '2016-03-14', '2016-03-15', '2016-03-16',
       '2016-03-17', '2016-03-18', '2016-03-19', '2016-03-20',
       '2016-03-21', '2016-03-22', '2016-03-23', '2016-03-24',
       '2016-03-25', '2016-03-26', '2016-03-27', '2016-03-28',
       '2016-03-29', '2016-03-30', '2016-03-31', '2016-04-01',
       '2016-04-02', '2016-04-03', '2016-04-04', '2016-04-05',
       '2016-04-06', '2016-04-07', '2016-04-08', '2016-04-09',
       '2016-04-10', '2016-04-11', '2016-04-12', '2016-04-13',
       '2016-04-14', '2016-04-15', '2016-04-16', '2016-04-17',
       '2016-04-18', '2016-04-19', '2016-04-20', '2016-04-21',
       '2016-04-22', '2016-04-23', '2016-04-24', '2016-04-25',
       '2016-04-26', '2016-04-27', '2016-04-28', '2016-04-29',
       '2016-04-30', '2016-05-01', '2016-05-02', '2016-05-03',
       '2016-05-04', '2016-05-05', '2016-05-06', '2016-05-07',
       '2016-05-08', '2016-05-09', '2016-05-10', '2016-05-11',
       '2016-05-12', '2016-05-13', '2016-05-14', '2016-05-15',
       '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
       '2016-05-20', '2016-05-21', '2016-05-22', '2016-05-23',
       '2016-05-24', '2016-05-25', '2016-05-26', '2016-05-27',
       '2016-05-28', '2016-05-29', '2016-05-30', '2016-05-31',
       '2016-06-01', '2016-06-02', '2016-06-03', '2016-06-04',
       '2016-06-05', '2016-06-06', '2016-06-07', '2016-06-08',
       '2016-06-09', '2016-06-10', '2016-06-11', '2016-06-12',
       '2016-06-13', '2016-06-14', '2016-06-15', '2016-06-16',
       '2016-06-17', '2016-06-18', '2016-06-19', '2016-06-20',
       '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24',
       '2016-06-25', '2016-06-26', '2016-06-27', '2016-06-28',
       '2016-06-29', '2016-06-30', '2016-07-01', '2016-07-02',
       '2016-07-03', '2016-07-04', '2016-07-05', '2016-07-06',
       '2016-07-07', '2016-07-08', '2016-07-09', '2016-07-10',
       '2016-07-11', '2016-07-12', '2016-07-13', '2016-07-14',
       '2016-07-15', '2016-07-16', '2016-07-17', '2016-07-18',
       '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22',
       '2016-07-23', '2016-07-24', '2016-07-25', '2016-07-26',
       '2016-07-27', '2016-07-28', '2016-07-29', '2016-07-30',
       '2016-07-31', '2016-08-01', '2016-08-02', '2016-08-03',
       '2016-08-04', '2016-08-05', '2016-08-06', '2016-08-07',
       '2016-08-08', '2016-08-09', '2016-08-10', '2016-08-11',
       '2016-08-12', '2016-08-13', '2016-08-14', '2016-08-15',
       '2016-08-16', '2016-08-17', '2016-08-18', '2016-08-19',
       '2016-08-20', '2016-08-21', '2016-08-22', '2016-08-23',
       '2016-08-24', '2016-08-25', '2016-08-26', '2016-08-27',
       '2016-08-28', '2016-08-29', '2016-08-30', '2016-08-31',
       '2016-09-01', '2016-09-02', '2016-09-03', '2016-09-04',
       '2016-09-05', '2016-09-06', '2016-09-07', '2016-09-08',
       '2016-09-09', '2016-09-10', '2016-09-11', '2016-09-12',
       '2016-09-13', '2016-09-14', '2016-09-15', '2016-09-16',
       '2016-09-17', '2016-09-18', '2016-09-19', '2016-09-20',
       '2016-09-21', '2016-09-22', '2016-09-23', '2016-09-24',
       '2016-09-25', '2016-09-26', '2016-09-27', '2016-09-28',
       '2016-09-29', '2016-09-30', '2016-10-01', '2016-10-02',
       '2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
       '2016-10-07', '2016-10-08', '2016-10-09', '2016-10-10',
       '2016-10-11', '2016-10-12', '2016-10-13', '2016-10-14',
       '2016-10-15', '2016-10-16', '2016-10-17', '2016-10-18',
       '2016-10-19', '2016-10-20', '2016-10-21', '2016-10-22',
       '2016-10-23', '2016-10-24', '2016-10-25', '2016-10-26',
       '2016-10-27', '2016-10-28', '2016-10-29', '2016-10-30',
       '2016-10-31', '2016-11-01', '2016-11-02', '2016-11-03',
       '2016-11-04', '2016-11-05', '2016-11-06', '2016-11-07',
       '2016-11-08', '2016-11-09', '2016-11-10', '2016-11-11',
       '2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15',
       '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-19',
       '2016-11-20', '2016-11-21', '2016-11-22', '2016-11-23',
       '2016-11-24', '2016-11-25', '2016-11-26', '2016-11-27',
       '2016-11-28', '2016-11-29', '2016-11-30', '2016-12-01',
       '2016-12-02', '2016-12-03', '2016-12-04', '2016-12-05',
       '2016-12-06', '2016-12-07', '2016-12-08', '2016-12-09',
       '2016-12-10', '2016-12-11', '2016-12-12', '2016-12-13',
       '2016-12-14', '2016-12-15', '2016-12-16', '2016-12-17',
       '2016-12-18', '2016-12-19', '2016-12-20', '2016-12-21',
       '2016-12-22', '2016-12-23', '2016-12-24', '2016-12-25',
       '2016-12-26', '2016-12-27', '2016-12-28', '2016-12-29',
       '2016-12-30', '2016-12-31', '2017-01-01', '2017-01-02',
       '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
       '2017-01-07', '2017-01-08', '2017-01-09', '2017-01-10',
       '2017-01-11', '2017-01-12', '2017-01-13', '2017-01-14',
       '2017-01-15', '2017-01-16', '2017-01-17', '2017-01-18',
       '2017-01-19', '2017-01-20', '2017-01-21', '2017-01-22',
       '2017-01-23', '2017-01-24', '2017-01-25', '2017-01-26',
       '2017-01-27', '2017-01-28', '2017-01-29', '2017-01-30',
       '2017-01-31', '2017-02-01', '2017-02-02', '2017-02-03',
       '2017-02-04', '2017-02-05', '2017-02-06', '2017-02-07',
       '2017-02-08', '2017-02-09', '2017-02-10', '2017-02-11',
       '2017-02-12', '2017-02-13', '2017-02-14', '2017-02-15',
       '2017-02-16', '2017-02-17', '2017-02-18', '2017-02-19',
       '2017-02-20', '2017-02-21', '2017-02-22', '2017-02-23',
       '2017-02-24', '2017-02-25', '2017-02-26', '2017-02-27',
       '2017-02-28', '2017-03-01', '2017-03-02', '2017-03-03',
       '2017-03-04', '2017-03-05', '2017-03-06', '2017-03-07',
       '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-11',
       '2017-03-12', '2017-03-13', '2017-03-14', '2017-03-15',
       '2017-03-16', '2017-03-17', '2017-03-18', '2017-03-19',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23',
       '2017-03-24', '2017-03-25', '2017-03-26', '2017-03-27',
       '2017-03-28', '2017-03-29', '2017-03-30', '2017-03-31',
       '2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04',
       '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-08',
       '2017-04-09', '2017-04-10', '2017-04-11', '2017-04-12',
       '2017-04-13', '2017-04-14', '2017-04-15', '2017-04-16',
       '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
       '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
       '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28',
       '2017-04-29', '2017-04-30', '2017-05-01', '2017-05-02',
       '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-06',
       '2017-05-07', '2017-05-08', '2017-05-09', '2017-05-10',
       '2017-05-11', '2017-05-12', '2017-05-13', '2017-05-14',
       '2017-05-15', '2017-05-16', '2017-05-17', '2017-05-18',
       '2017-05-19', '2017-05-20', '2017-05-21', '2017-05-22',
       '2017-05-23', '2017-05-24', '2017-05-25', '2017-05-26',
       '2017-05-27', '2017-05-28', '2017-05-29', '2017-05-30',
       '2017-05-31', '2017-06-01', '2017-06-02', '2017-06-03',
       '2017-06-04', '2017-06-05', '2017-06-06', '2017-06-07',
       '2017-06-08', '2017-06-09', '2017-06-10', '2017-06-11',
       '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15',
       '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
       '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
       '2017-06-24', '2017-06-25', '2017-06-26', '2017-06-27',
       '2017-06-28', '2017-06-29', '2017-06-30', '2017-07-01',
       '2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
       '2017-07-06', '2017-07-07', '2017-07-08', '2017-07-09',
       '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
       '2017-07-14', '2017-07-15', '2017-07-16', '2017-07-17',
       '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-21',
       '2017-07-22', '2017-07-23', '2017-07-24', '2017-07-25',
       '2017-07-26', '2017-07-27', '2017-07-28', '2017-07-29',
       '2017-07-30', '2017-07-31', '2017-08-01', '2017-08-02',
       '2017-08-03', '2017-08-04', '2017-08-05', '2017-08-06',
       '2017-08-07', '2017-08-08', '2017-08-09', '2017-08-10',
       '2017-08-11', '2017-08-12', '2017-08-13', '2017-08-14',
       '2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
       '2017-08-19', '2017-08-20', '2017-08-21', '2017-08-22',
       '2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
       '2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
       '2017-08-31', '2017-09-01', '2017-09-02', '2017-09-03',
       '2017-09-04', '2017-09-05', '2017-09-06', '2017-09-07',
       '2017-09-08', '2017-09-09', '2017-09-10', '2017-09-11',
       '2017-09-12', '2017-09-13', '2017-09-14', '2017-09-15',
       '2017-09-16', '2017-09-17', '2017-09-18', '2017-09-19',
       '2017-09-20', '2017-09-21', '2017-09-22', '2017-09-23',
       '2017-09-24', '2017-09-25', '2017-09-26', '2017-09-27',
       '2017-09-28', '2017-09-29', '2017-09-30', '2017-10-01',
       '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05',
       '2017-10-06', '2017-10-07', '2017-10-08', '2017-10-09',
       '2017-10-10', '2017-10-11', '2017-10-12', '2017-10-13',
       '2017-10-14', '2017-10-15', '2017-10-16', '2017-10-17',
       '2017-10-18', '2017-10-19', '2017-10-20', '2017-10-21',
       '2017-10-22', '2017-10-23', '2017-10-24', '2017-10-25',
       '2017-10-26', '2017-10-27', '2017-10-28', '2017-10-29',
       '2017-10-30', '2017-10-31', '2017-11-01', '2017-11-02',
       '2017-11-03', '2017-11-04', '2017-11-05', '2017-11-06',
       '2017-11-07', '2017-11-08', '2017-11-09', '2017-11-10',
       '2017-11-11', '2017-11-12', '2017-11-13', '2017-11-14',
       '2017-11-15', '2017-11-16', '2017-11-17', '2017-11-18',
       '2017-11-19', '2017-11-20', '2017-11-21', '2017-11-22',
       '2017-11-23', '2017-11-24', '2017-11-25', '2017-11-26',
       '2017-11-27', '2017-11-28', '2017-11-29', '2017-11-30',
       '2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
       '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
       '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-12',
       '2017-12-13', '2017-12-14'], dtype=object)

## Trying to Add in Month and Year Columns

In [40]:
weather2016['Year'] = weather2016.DATE.astype(str).str[2:4]

/usr/local/Cellar/ipython/6.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
weather2016['Month'] = weather2016.DATE.astype(str).str[5:7]

/usr/local/Cellar/ipython/6.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
weather2016.Month.unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'], dtype=object)

In [43]:
weather2016.Year.unique()

array(['16', '17'], dtype=object)

In [44]:
weather2016.head()

             DATE  PRCP  TMAX  TMIN   RAIN Year Month
24837  2016-01-01  0.00    46    28  False   16    01
24838  2016-01-02  0.00    42    25  False   16    01
24839  2016-01-03  0.02    40    31   True   16    01
24840  2016-01-04  0.15    38    35   True   16    01
24841  2016-01-05  0.11    46    36   True   16    01

In [45]:
weather2016.to_csv('weather2016.csv')

## Find the Rainy Months

In [47]:
weather2016 = pd.read_csv('weather2016.csv')

In [46]:
weather2016.groupby(['Month', 'Year']).sum()

             PRCP  TMAX  TMIN
Month Year
01    16     7.45  1521  1189
      17     4.22  1354   993
02    16     5.97  1553  1196
      17     8.85  1306  1008
03    16     5.52  1749  1311
      17     7.32  1598  1257
04    16     1.19  1977  1425
      17     4.21  1719  1319
05    16     0.94  2134  1572
      17     2.28  2077  1514
06    16     1.77  2193  1618
      17     1.52  2163  1611
07    16     0.72  2355  1787
      17     0.00  2428  1746
08    16     0.17  2466  1795
      17     0.02  2527  1829
09    16     1.05  2087  1586
      17     0.59  2214  1667
10    16    10.05  1877  1522
      17     4.80  1894  1404
11    16     6.48  1681  1371
      17     8.63  1540  1260
12    16     3.87  1299  1054
      17     1.11   661   478

In [48]:
weather2016['RAIN'] = weather2016['RAIN'].astype(int)

In [49]:
weatherGrouped = weather2016.groupby(['Month', 'Year']).sum()

In [18]:
weatherGrouped.index

MultiIndex(levels=[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [11, 12, 13, 14, 15, 16, 17]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11], [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]],
           names=['Month', 'Year'])

In [50]:
months = [a for a in range(1, 13)]
years = [a for a in range(2016, 2018)]
daysPerMonth = {
    1: 31,
    2: 28,
    3: 31,
    4: 30,
    5: 31,
    6: 30, 
    7: 31,
    8: 31,
    9: 30,
    10: 31,
    11: 30,
    12: 31
}

In [51]:
weather2016.Month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [53]:
from collections import defaultdict
yearMonthCounts = {
    16: defaultdict(int),
    17: defaultdict(int),
}

for index, row in weather2016.iterrows():
#     print(row['Year'])
#     print(row['Month'])
    if row['RAIN'] == 1:
        yearMonthCounts[int(row['Year'])][int(row['Month'])] += 1

In [54]:
yearMonthCounts

{16: defaultdict(int,
             {1: 20,
              2: 21,
              3: 19,
              4: 9,
              5: 7,
              6: 10,
              7: 6,
              8: 3,
              9: 10,
              10: 25,
              11: 22,
              12: 20}),
 17: defaultdict(int,
             {1: 11,
              2: 22,
              3: 25,
              4: 23,
              5: 14,
              6: 6,
              8: 1,
              9: 8,
              10: 12,
              11: 24,
              12: 3})}

In [55]:
rainyMonths = {
    16: {},
    17: {},
}

for year, month in yearMonthCounts.items():
    for month_number, rainy_days in month.items():
        if rainy_days > float(daysPerMonth[month_number]) / 2:
            rainyMonths[year][month_number] = True
        else:
            rainyMonths[year][month_number] = False

In [56]:
rainyMonths

{16: {1: True,
  2: True,
  3: True,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: False,
  10: True,
  11: True,
  12: True},
 17: {1: False,
  2: True,
  3: True,
  4: True,
  5: False,
  6: False,
  8: False,
  9: False,
  10: False,
  11: True,
  12: False}}

## Trying To Add Rainy Month to Original Dataframe

In [57]:
checkoutWithDate = pd.read_csv('CheckoutWithDate.csv')

/usr/local/Cellar/ipython/6.5.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [58]:
checkoutWithDate.CheckoutYear.unique()

array([17, 16])

In [59]:
num_entries = len(checkoutWithDate)

In [60]:
len(checkoutWithDate)

5938664

In [61]:
from IPython.display import clear_output

for index, row in checkoutWithDate.iterrows():
    clear_output()
    print("{}%".format(index / num_entries))
    try:
        isRainy = rainyMonths[row['CheckoutYear']][row['CheckoutMonth']]
        checkoutWithDate.at[index,'IsRainyMonth'] = isRainy
    except:
        checkoutWithDate.at[index,'IsRainyMonth'] = False

0.9999998316119585%

In [62]:
checkoutWithDate.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,UsageClass,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Subjects,DATE,IsRainyMonth
0,0,0,0,0,Physical,VIDEODISC,17,4,3,"Intelligence officers Drama, Employees Recruit...",4/1/17,True
1,1,1,1,1,Digital,SONG,17,4,1,NaN,4/1/17,True
2,2,2,2,2,Digital,SONG,17,4,1,NaN,4/1/17,True
3,3,3,3,3,Physical,VIDEODISC,17,4,7,Elmo Fictitious character Henson Juvenile film...,4/1/17,True
4,4,4,4,4,Digital,EBOOK,17,4,1,"Juvenile Fiction, Juvenile Literature",4/1/17,True